{% extends 'master.html' %}
{% load cart_tag %}
{% block body %}
<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{% for key,value in request.session.cart.items %}
						<tr>
							<td class="cart_product">
								<a href=""><img width="200px" height="150px" style="object-fit: fill" src="{{value.image}}" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{value.name}}</a></h4>

							</td>
							<td class="cart_price">
								<p>${{value.price}}</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href="{% url 'item_increment' value.product_id %}"> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="{{value.quantity}}" autocomplete="off" size="2">
									<a class="cart_quantity_down" href="{% url 'item_decrement' value.product_id %}"> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">${{ value.price|multiply:value.quantity }}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href="{% url 'item_clear' key %}"><i class="fa fa-times"></i></a>
							</td>
						</tr>
						<a href="{% url 'cart_clear' %}">Clear Cart</a>
						{% endfor %}

					</tbody>
					<tfoot>
						<td>

						</td>

						<td>

						</td>

						<td>
							<hr>
							<h4>Sub Total: </h4>
						</td>

						<td>

						</td>

						<td>
							<hr>
							<h3>{{cart_total_amount}}</h3>
						</td>
					</tfoot>

				</table>
			</div>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="float: right">Checkout</button>
		</div>
	</section> <!--/#cart_items-->
<br>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/checkout/">
			{% csrf_token %}
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Full name:</label>
            <input type="text" name="phone" class="form-control" id="recipient-name">
          </div>
		  <div class="form-group">
            <label for="recipient-name" class="col-form-label">Phone:</label>
            <input type="text" name="phone" class="form-control" id="recipient-phone">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Address:</label>
            <textarea class="form-control" name="address" id="message-text"></textarea>
          </div>
			<div class="modal-footer">

        		<div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AdPsGi1w9LUG2WEQ4CvDLpD1TnxtDNk2qC63e2ufVYAYcYiT7Ow9ckwjYXNYmYIzqF_-gORHoocc8u2N&currency=USD&disable-funding=credit"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
			style:{
				color:'blue',
				shape: 'rect',
			},

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: {{cart_total_amount}}
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }


        }).render('#paypal-button-container');
    </script>
      		</div>
        </form>
      </div>

    </div>
  </div>
</div>

{% endblock %}